.gpt__what{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    filter: drop-shadow(0px 0px 0xp 4px );
    padding: 3rem;
}
.gpt__what-feature{
    display: flex;
}
.gpt__what-feature .gpt__features-container__feature{
    margin: 0;

}
.gpt__what-feature .gpt__features-container__feature-text{
    margin: 0;
    max-width: 700px;
    
}
.gpt__what-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0rem 2rem;

}
.gpt__what-heading h1{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    max-width: 500px;
}
.gpt__what-heading p{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    color: #ff8a71;
}
.gpt__what-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.gpt__what-container .gpt__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.gpt__what-container .gpt__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .gpt__what-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .gpt__what-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .gpt__what-feature .gpt__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .gpt__what-feature .gpt__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .gpt__what-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .gpt__what-container .gpt__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}