.gpt__cta{
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 8rem 4rem;
    background: var(--gradient-bar);
    border-radius: 8px;
}
.gpt__cta-content p{
    font-weight: 800;
}
.gpt__cta-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gpt__cta-button button{
    background-color: black;
    width: 189.14px;
    height: 59.4px;
    border-radius: 40px;
    color: #fff;
    font-family: Manrope;
    outline:none;
    border: none;
    font-weight: 800;
    cursor: pointer;
}
@media screen and (max-width:650px) {
    .gpt__cta{
        flex-direction: column;
    }
}