.gpt__feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.gpt__feature-heading{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}
.gpt__feature-heading h1{
    line-height: 45px;
    font-size: 34px;
}
